.wp-block-myguten-test-block {
     color: tomato;
}
.block-editor-block-list__layout {
    position: relative;
    display: block;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
.gts__picture__image {
    width: 100%;
    display: block;
    height: 300px;
    background-repeat: no-repeat;
}
span.remove-testimonial {
    float: right;
}

textarea.block-editor-plain-text.content-plain-text {
    padding: 20px;
}

textarea.block-editor-plain-text.author-plain-text {
    padding: 10px 20px;
}